html{

}
body{
  font-size: 14px;
  padding-bottom: 20px;
}
.header{
  background-color: #000000;
  margin-bottom: 40px
}
.img-logo{
  width: 350px
}

.navbar{
  background-color: #0768A7;
}
.img-logo-header{
  width: 125px
}

.div-logo-header{
   text-align: center;
}
