<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src='main.js'></script>
</head>

<body>

  <header class="header  ">


    <div class="div-logo-header">
      <img class="img-logo" src="assets/images/tm_phones_logo.png">
    </div>


  </header>



  <section class="container">

    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Bem vindo!</h4>
      <p>Simule aqui sua compra</p>
      <hr>
      <p class="mb-0">*Parcelamos em até 18x no cartão, consulte taxas conosco via whatsapp.</p>
    </div>



  </section>

  <section class="container">
    <div class="row justify-content-md-center">

      <app-component-form></app-component-form>

      <a type="button" class="btn btn-success" href="https://api.whatsapp.com/send?phone=5581920011422&text=" >FALE CONOSCO VIA WHATSAPP

      </a>
    </div>
  </section>

</body>

</html>
