<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>


</head>

<body>

  <div class="container-home container">
    <section>
      <div class="div-logo-home">
        <img class="img-logo-home" src="assets/images/tm_phones_logo.png">
        <br>

        <a href="https://www.instagram.com/tmphonesoficial/" target="_blank"> @tmphonesoficial</a>
      </div>
    </section>

    <section class="container text-center">



      <div>

      </div>
      <a class=" btn-link btn-link-color" [routerLink]="['/cred-card-simulator']">


     <!--  <img class="icon-button" src="assets/images/cred-card-icon.png"> -->


        Simulador de Cartão
      </a>

      <a class=" btn-link btn-link-color" href="https://api.whatsapp.com/send?phone=5581999887102&text="
        target="_blank">
       <!-- <img class="icon-button" src="assets/images/icon-whatsApp-01.png">-->
        WhatsApp Consultor Tiago
      </a>

      <div class="btn-link btn-link-color">
       <!-- <img class="icon-button" src="assets/images/icon-whatsApp-01.png">-->
        <a href="https://api.whatsapp.com/send?phone=5581920011422&text=" target="_blank">
          WhatsApp Consultor Danillo
        </a>

      </div>



    </section>

  </div>
</body>

</html>
